*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/cohen/dafna/day7/Student.kt
/app/src/main/java/cohen/dafna/day7/Person.java
/app/src/main/java/cohen/dafna/day7/BusinessCard.kt
